body {
	background-color: #d0ee66;

}

.header {
	width: 100%;

}

img {
	float:left;
    margin: 15px 20px 5px 5px;
    border: 1px solid black;
    
}
	
	
.story-page{
	float:left;
	border:800px;
	text-align: left;
	max-width: 900px;
	margin-left:30px;
}

.smails{
	float:none;
	display: :inline;
}