

a:link {
	color: #008080;
}
a:visited {
	color: #008080;
}
a:hover {
	color: #707070;
}
a:active{
	color: #008080;
	top: 2px;
	background-color: red;
}


body {
	background-color: #9FEA63;

	margin: 0 0;

	

}

p {
	font-style: arial;
	color: darkblue;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block;
 }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; 

}
.clearfix { display: block; 

}

#carts{
	font-family: fantasy;
	font-style: italic;
	font-size: 46px;
	margin-bottom: 20px;
	margin-left: 20px; 
	text-decoration: underline;
}


.homepage::after{
	content:"";
	background: url("../pages/grass.jpeg");
	opacity: 0.3;
	top: 0;
 	left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
     z-index: -1;

	background-size: cover;

	background-size: 100% 100%;



}


.header {
	width: 100%;
	background-color: #73cd30;
	border: 2px solid black;
	border-radius: 5px;
	

	
}


ul.nav {
	list-style: none;
	text-align: right;

}

ul.nav li{
	display: inline-block;
	margin: 15px 30px;
	font-size: 25px;
	font-family: Helvetica;
	font-style: italic;

}

ul.navSidebar {
	list-style: none;
}

ul.navSidebar li {

	margin: 0 auto; 
	font-style: oblique;
	font-size: 20px;
}

li.active {
	background-color: white;
}


img {
	float:left;
    margin: 15px 20px 5px 5px;
    border: 1px solid black;
    
}

#carts {
	font-size: 30px;
	font-weight: bold;
	margin-left: 30px;
	text-align: center;
	text-decoration: underline;
}

.sidebar{
	float: left;
	width: 12%;
	height: 165px;
	background-color: #8FB8AF;
	border-radius: 5px;
	border: 3px solid black;
	margin-left: 10px;
	margin-right: 10px;

}

.text{
	display: inline;

}

#homepageImage{
	border: 3px solid black;
	border-radius: 5px; 
	float: right;
	margin-right: 10px;

}

.footer{
	height: 40px;
	width; 100%;
	border-radius: 5px;
	background-color: #8FB8AF;

}

#email{
	text-align: right;
	margin-right: 10px; 
	margin-top: 10px; 
}


/*Our Story CSS*/
.leftside{
	float: left;
}

.footerOurstory{
	clear: both;
	height: 40px;
	width; 100%;
	border-radius: 5px;
	background-color: #8FB8AF;
}
	
	
/*.story-page{
	float: left;
    width: 120px;
    margin: 15px 20px 0px 0px;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}
*/

/*.judgesmails{
	float: left;
    width: 120px;
    margin: 0px 20px 0px 0px;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}*/

@media (max-width: 1100px) {
	.sidebar{
		display: none;
	}
}



@media (max-width:600px) {

ul.nav li{
		display: block;
	}

.sidebar{
		display: none;
		clearfix: both;
	}

}
